@import url(https://db.onlinewebfonts.com/c/26b4978e67a51484ed7bccea1ffb38b8?family=TIMMONSNY-Regular);

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
width: 100%;
height: 100%;
font-family: "PP Neue Montreal";
}

.container {
width: 100vw;
height: 100vh;
overflow: hidden;
}

nav, footer {
    position: fixed;
    left: 0;
    width: 100vw;
    padding: 2.75em;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

 


.bg-overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(213, 183, 71);
    filter: brightness(0.75);
    opacity: 0.5;
}

.slider-nav { 
    position: fixed; 
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.nav-item1-wrapper {
    flex: 1;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 750ms cubic-bezier(0, 0.75, 0.5, 1);
}

.nav-item1 {
width: 6px;
height: 100%;
border: 3px solid rgba(0, 0, 0, 0.15);
margin-top: 80px;
transition: all 750ms cubic-bezier(0, 0.75, 0.5, 1);
}

.nav-item1-wrapper.active {
flex: 1;
}

.nav-item1-wrapper.active .nav-item1 {
    width: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.slides{
    position: fixed;
    top: 0;
    left: 0;
    width: 3000vw;
    height: 10vh;
    display: flex;
}

.slide {
    flex: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .img {
    width: 70%;
    height: 70%;
    opacity: 0.75;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 65%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.slide-title-row {
    flex: 1;
    width: 100%;
    display: flex;
    /* margin-top: -50px; */
}

.slide-title-row:nth-child(2) {
    position: relative;
    left: 4em;
}

.letter {
    flex: 1;
    height: 100%;
    padding-left: 2em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.letter span {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    font-size: 180px;
    filter: brightness(0.25) saturate(0.75);
}


@media(max-width: 900px) {
    .slider-nav {
        width: 40%;
    }

    .slide .img {
        width: 80%;
        height: 75%;
    }
    .slide-title {
        left: 47.5%;
        height: 25%;
    }

    .slide-title-row:nth-child(2) {
        left: 0;
    }

    /* .letter span {
        font-size: 100px;
    } */
}


    @media (max-width: 600px) {
        .nav-item1{
            margin-top: 180px;
            width: 12px;
            margin-left: -3px;

        }

        .slider-nav{
            left: 120px;
        }
        
        .slide-title-row {
            /* margin-top: -50px; */
          display: flex;
          justify-content:center; 
          font-size: 12px;
        }
      
        .letter {
          margin: 0 2px; /* reduce margin between letters */
        }

        .slide .img {
            width: 350px;
            height: 270px;
        }

        .letter span {
            font-size: 40px;

      }
    }